body{
  background-color: orange;
}
.shoppinglist{
	
	font-family: balloon-urw, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size:50px;
	font-color:black;
	width:420px;
	height:1020px;
	background-color:rgb(250, 242, 209);
	border-radius:10px;
  position:absolute;
  margin-top:40px;
  margin-bottom:0px;
  margin-left:30px;

}
#clickonme{
  font-family: balloon-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size:20px;
}

p{
	font-family:balloon-urw, sans-serif;
	font-weight: 300;
	font-size:100px;
	margin-top:320px;
  margin-left:700px;
  position:fixed;
  float:right;
}


.almondbutter{
  font-family: balloon-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-left:10px;
}
.almondbutter+ div {
  display: none;
}
.almondbutter:hover + div {
  display: inline;
}
.image {
   position:relative;
   display:inline-block;

}

.almondbutter:hover div  {
   width:100%;
   height:100%;
   position:absolute;
   top:0;
   left:0;
   display:inline-block;
    -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;}

.rusticobread{
  font-family: balloon-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
   margin-left:10px;
}

.rusticobread+ div {
  display: none;
}
.rusticobread:hover + div {
  display: block;
}
.image1 {
   position:relative;
   display:inline-block;
}
.overlay {
   display:none;
}
.image1:hover .overlay {
   width:100%;
   height:100%;
   position:absolute;
   top:0;
   left:0;
   display:inline-block;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;}

.strawberry{
  font-family: balloon-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
   margin-left:10px;
}

.strawberry+ div {
  display: none;
}
.strawberry:hover +div {
  display: block;
}
.image2 {
   position:relative;
   display:inline-block;
}
.overlay {
   display:none;
}
.image2:hover .overlay {
   width:100%;
   height:100%;
   position:absolute;
   top:0;
   left:0;
   display:inline-block;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;}

.almondmilk{
  font-family: balloon-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
   margin-left:10px;
}

.almondmilk+ div {
  display: none;
}
.almondmilk:hover +div {
  display: block;
}
.image3 {
   position:relative;
   display:inline-block;
}
.overlay {
   display:none;
}
.image3:hover .overlay {
   width:100%;
   height:100%;
   position:absolute;
   top:0;
   left:0;
   display:inline-block;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;}

.chickenbreast{
  font-family: balloon-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
   margin-left:10px;
}

.chickenbreast+ div {
  display: none;
}
.chickenbreast:hover +div {
  display: block;
}
.image4 {
   position:relative;
   display:inline-block;
}
#image4{
  margin-left:50px;
}
.overlay {
   display:none;
}
.image4:hover .overlay {
   width:100%;
   height:100%;
   position:absolute;
   top:0;
   left:0;
   display:inline-block;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;}

.spinach{
  font-family: balloon-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
   margin-left:10px;
}
.spinach+ div {
  display: none;
}
.spinach:hover +div {
  display: block;
}
.image5 {
   position:relative;
   display:inline-block;
}
.overlay {
   display:none;
}
.image5:hover .overlay {
   width:100%;
   height:100%;
   position:absolute;
   top:0;
   left:0;
   display:inline-block;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;}

.fujiapples{
  font-family: balloon-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
   margin-left:10px;
}
.fujiapples+ div {
  display: none;
}
.fujiapples:hover +div {
  display: block;
}
.image6 {
   position:relative;
   display:inline-block;
}

.image6:hover .overlay {
   width:100%;
   height:100%;
   position:absolute;
   top:0;
   left:0;
   display:inline-block;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;}


#btn{
      height: 30px;
      width: 100px;
      background-color: lightpink;
      margin-left:10px;
}
#btno{
    height: 30px;
      width: 100px;
      background-color: lightblue;
      margin-left:10px;
}
#ready-text{
  opacity:0;
}
.addBtn {
  padding: 10px;
  width: 25%;
  background: lightgreen;
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
.addBtn:hover {
  background-color: green;
}
#myDIV{
  opacity:0;
}

body {
  margin: 0;
  min-width: 250px;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}


ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: rgb(244, 122, 65);
  font-size: 28px;
  transition: 0.2s;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: rgb(244, 209, 66);
}

ul li:hover {
  background: rgb(204, 58, 32);
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: rgb(204, 58, 32);
  color: white;
}

.header {
  background-color: rgb(255, 229, 33);
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}





