h1{
	font-size:50px;
	color:lightblue;
	font-family: 'Old Standard TT', serif;
	text-align:center;

}
h3{
font-size:30px;
	color:lightblue;
	font-family: 'Old Standard TT', serif;
	text-align:left;
}
h4{
	font-size:40px;
	color:lightblue;
	font-family: 'Old Standard TT', serif;
	text-align:left;
}

h2{
	text-align:left;
	font-family:Helvetica;
	font-size:30px;
	font-weight:normal;
	margin: 40px auto 40px auto;

	
}

.HarmonyandContrast:hover{
	background-color:green;
	cursor:pointer;
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	transition-delay: 0.2s; 

}

p{
	text-align: right;
	font-family: 'Old Standard TT', serif;
	font-size:20px;
	line-height:30px;

}
a:hover{
	color:pink;
}
h3 {
	font-family:Baskerville,Bodoni;
	

}
.dropcap{
	float:Left;
	display:block;
	color:red;
	font-size:100px;
	padding-left:5px;
	padding-bottom:8px;
}
#container {
	width:515px;
	height:390px;
	background-color:yellow;

}
#container2{
	width:300px;
	height:100px;
	background-color:orange;
	text-align:left;
}
#container3{
	width:515px;
	height:350px;
	background-color:red;
	
}

#list1{
	text-align:left;
	font-family: Helvetica;