.header{
	font-family: halyard-display, sans-serif;
	font-style: normal;
	font-weight:700;
	font-size:135px;
	margin-top:200px;
	margin-left:50px;
	margin-bottom:150px;
	text-align: center;
	font-style:medium;
	display:block;
	position:relative;
	z-index:50;

}

body{
	margin-top:10px;
	margin-bottom:10px;
	overflow-x: hidden;
  	animation: pulse 5s linear;
}

@keyframes pulse {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

#fontstylesemib{
	font-family:halyard-display, sans-serif;
	font-style:normal;
	font-size:15px;
	text-align:right;
	margin-top:-150px;
	padding-right:200px;
	margin-bottom:300px;
	position:relative;
}

.gradientcircle1{
	background-color:grey;
	width:605px;
	height:605px;
	border-radius:405px;
	border-width:2px;
	position:absolute;
	z-index:-900px;
	transform:translate(410px,-640px);
}


.gradientbox1{
	position:relative;
	background-color: grey;
	width:80px;
	height:200px;
	margin-left:300px;
	transform:translate(100px,-100px);
}
.gradientbox1 {
  background-color: black;
  transition: background-color .5s;
}

.gradientbox1:hover {
  background-color: white;
}
.gradientbox2{
	position:relative;
	background-color: grey;
	width:80px;
	height:200px;
	margin-left:300px;
	transform:translate(200px,-200px);
}
.gradientbox2 {
  background-color: black;
  transition: background-color .5s;
}

.gradientbox2:hover {
  background-color: white;
}
.gradientbox3{
	position:relative;
	background-color: grey;
	width:80px;
	height:200px;
	margin-left:300px;
	transform:translate(300px,-300px);
}
.gradientbox3 {
  background-color: black;
  transition: background-color .75s;
}

.gradientbox3:hover {
  background-color: white;
}
.gradientbox4{
	position:relative;
	background-color: grey;
	width:80px;
	height:200px;
	margin-left:300px;
	transform:translate(400px,-400px);
}
.gradientbox4 {
  background-color: black;
  transition: background-color 1s;
}

.gradientbox4:hover {
  background-color: white;
}
.gradientbox5{
	position:relative;
	background-color: grey;
	width:80px;
	height:200px;
	margin-left:300px;
	transform:translate(500px,-500px);
}
.gradientbox5 {
  background-color: black;
  transition: background-color 1.2s;
}

.gradientbox5:hover {
  background-color: white;
}
.gradientbox6{
	position:relative;
	background-color: grey;
	width:80px;
	height:200px;
	margin-left:300px;
	transform:translate(500px,-450px);
}
.gradientbox6 {
  background-color: black;
  transition: background-color 1.5s;
}

.gradientbox6:hover {
  background-color: white;
}
.gradientboxcenter{
	position:relative;
	background-color: grey;
	width:80px;
	height:200px;
	margin-left:300px;
	transform:translate(610px,-770px);
}
.gradientboxcenter {
  background-color: black;
  transition: background-color 1.5s;
}

.gradientboxcenter:hover {
  background-color: white;
}
.gradientbox7{
	position:relative;
	background-color: grey;
	width:80px;
	height:200px;
	margin-left:300px;
	transform:translate(400px,-700px);
}
.gradientbox7 {
  background-color: black;
  transition: background-color 1.5s;
}

.gradientbox7:hover {
  background-color: white;
}
.gradientbox8{
	position:relative;
	background-color: grey;
	width:80px;
	height:200px;
	margin-left:300px;
	transform:translate(300px,-700px);
}
.gradientbox8 {
  background-color: black;
  transition: background-color 1.5s;
}

.gradientbox8:hover {
  background-color: white;
}
.gradientbox9{
	position:relative;
	background-color: grey;
	width:80px;
	height:200px;
	margin-left:300px;
	transform:translate(200px,-700px);
}
.gradientbox9 {
  background-color: black;
  transition: background-color 1.5s;
}

.gradientbox9:hover {
  background-color: white;
}



h5{
font-family:halyard-display, sans-serif;
font-style:normal;
font-size:20px;
text-align:left;
margin-left:20px;
}
h4{
font-family:halyard-display, sans-serif;
font-style:normal;
font-size:30px;
text-align:left;
margin-left:20px;
}
h3{
font-family:halyard-display, sans-serif;
font-style:normal;
font-size:45px;
text-align:left;
margin-left:20px;
}
h2{
font-family:halyard-display, sans-serif;
font-style:normal;
font-size:55px;
text-align:left;
margin-left:20px;
}
h1{
font-family:halyard-display, sans-serif;
font-style:normal;
font-size:80px;
text-align:left;
margin-left:20px;
}

.HalyardDisplay{

}
.blackbackground{
	background-color:black;
	width:1000px;
	height:100px;
	margin-bottom:20px;
	margin-right:20px;
	margin-left:20px;
	z-index:-100px;
	position:center;
	display:block;

}
.whiteboxes{
	position:relative;
	background-color:white;
	margin-left:100px;
	margin-right:10px;
	width:300px;
	height:200px;
	transform:translate(2px. 10px);
}


.designernames{
	font-family: halyard-display, sans-serif;
	font-weight:700;
	font-style: italic;
	font-size:50px;
	margin-top:10px;
	width:1000px;
	position:absolute;
	float: left;

}
.designernames {
  background-color: black;
  transition: background-color .5s;
}

.designernames:hover {
  background-color: white;
}

.blackbackground{
	background-color:black;
	width:1000px;
	height:100px;
	margin-bottom:20px;
	margin-right:20px;
	margin-left:20px;
	z-index:-100px;
	position:center;
	display:block;

}
.designernames p{
	font-family: halyard-display, sans-serif;
	text-align:left;
	font-style:normal;
	font-weight:300;
	font-size:20px;
	text-transform:translate(3420px,50px);
	width:100%;
	display:inline-flex;
	float:center;
	position:static;
	margin-top:50px;
}

.lowercase{
	font-family: halyard-display, sans-serif;
	font-weight:700;
	font-size:200px;
	font-style: italic;
	width:1000px;
	transform:translate(-400px,500px);
	margin-left:400px;
	display:block;
}


.lowercasealphabets{
	font-family: halyard-display, sans-serif;
	font-style:normal;
	font-weight:300;
	font-size:60px;
	margin-top:30px;
	margin-bottom:300px;
	text-align:left;
	width:1000px;
}
.lowercase {
  background-color: white;
  transition: background-color .5s;
}

.lowercase:hover {
    background-image: linear-gradient(pink, powderblue);
}
.uppercase{
	font-family: halyard-display, sans-serif;
	font-weight:700;
	font-style: italic;
	font-size:100px;
	margin-bottom:0px;
	transform:translate(30px,200px);
	text-align:right;
	margin-left:-30px;
	width:1000px;
}

.uppercasealphabets{
	font-family: halyard-display, sans-serif;
	font-style:normal;
	font-weight:10;
	font-size:60px;
	margin-top:5px;
	text-align:left;
}
.uppercase {
  background-color: white;
  transition: background-color .5s ;

}

.uppercase:hover {
    background-image: linear-gradient(powderblue,pink);

}
.numbers{
	font-family: halyard-display, sans-serif;
	font-weight:700;
	font-size:150px;
	font-style: italic;
	width:1000px;
	transform:translate(-40px,200px);
	margin-left:40px;
	margin-top:1px;

}
.numerals{
	font-family: halyard-display, sans-serif;
	font-style:normal;
	font-weight:10;
	font-size:60px;
	transform:translate(-10px 20px);
}
.numbers {
  background-color: white;
  transition: background-color .5s ;

}

.numbers:hover {
    background-image: linear-gradient(pink,powderblue);

}
.symbols{
	font-family: halyard-display, sans-serif;
	font-weight:700;
	font-size:100px;
	font-style: italic;
	display:block;
	width:1000px;
	transform:translate(-10px,200px);
	margin-left:10px;
	
}

.thesymbols{
	font-family: halyard-display, sans-serif;
	font-style:normal;
	font-weight:300;
	font-size:60px;
	margin-top:30px;
	margin-bottom:400px;
	letter-spacing:5rem;
}
.symbols {
  background-color: white;
  transition: background-color .5s ;

}

.symbols:hover {
    background-image: linear-gradient(powderblue,pink);

}

#blackbackground{
	background-color:black;
	width:850px;
	height:1220px;
	float:center;
	display:absolute;
	z-index: -1000px;

}


#Light {
	font-family:halyard-display,sans-serif;
	font-style:normal;
	font-size:20px;
	font-weight:200;
	background-color:white;
	padding:20px;
	width:300px;
	height:200px;
	margin-left:50px;
	margin-right:10px;
	transform:translateY(50px);

}


#Book { 
	font-family:halyard-display,sans-serif;
	font-style:normal;
	font-size:20px;
	font-weight:300;
	background-color:white;
	padding:20px;
	width:300px;
	height:200px;
	margin-left:50px;
	margin-right:50px;
	margin-bottom:50px;
	margin-top:50px;
	transform:translateY(50px);
	position:relative;
	clear:right;
 }
#Book{
	font-family:halyard-display,sans-serif;
	font-style:normal;
	font-size:20px;
	font-weight:300;
}
#Regular {
	font-family:halyard-display,sans-serif;
	font-style:normal;
	font-size:20px;
	font-weight:400;
	background-color:white;
	padding:20px;
	width:300px;
	height:200px;
	margin-left:50px;
	margin-right:50px;
	margin-bottom:50px;
	transform:translateY(50px);

}
#Italic {
	font-family:halyard-display,sans-serif;
	font-style:italic;
	font-size:20px;
	font-weight:400;
	background-color:white;
	padding:20px;
	width:300px;
	height:200px;
	margin-left:50px;
	margin-right:50px;
	margin-bottom:50px;
	transform:translateY(50px);

}
#Medium {
	font-family:halyard-display,sans-serif;
	font-style:normal;
	font-size:20px;
	font-weight:500;
	background-color:white;
	padding:20px;
	width:300px;
	height:200px;
	margin-left:450px;
	margin-right:50px;
	margin-top:10px;
	transform:translate(5px, -1110px);

}

#SemiBold {
	font-family:halyard-display,sans-serif;
	font-style:normal;
	font-size:20px;
	font-weight:600;
	background-color:white;
	padding:20px;
	width:300px;
	height:200px;
	margin-left:450px;
	margin-right:50px;
	margin-top:10px;
	transform:translate(5px, -1072px);
}
#Bold {
	font-family:halyard-display,sans-serif;
	font-style:normal;
	font-size:20px;
	font-weight:700;
	background-color:white;
	padding:20px;
	width:300px;
	height:200px;
	float:left;
	margin-left:450px;
	margin-right:50px;
	margin-top:10px;
	transform:translate(5px, -1030px);
}

#BlackItalic{
	font-family:halyard-display,sans-serif;
	font-style:italic;
	font-size:20px;
	font-weight:900;
	background-color:white;
	padding:20px;
	width:300px;
	height:200px;
	float:left;
	margin-left:450px;
	margin-right:50px;
	margin-top:10px;
	transform:translate(5px, -990px);
}


.textsamples{
	font-family: halyard-display, sans-serif;
	font-style:normal;
	font-weight:700;
	text-align:left;
	margin-top:100px;
	margin-left:10px;
	
	width:1000px;

}

.linespacingsample1{
	font-family: halyard-display, sans-serif;
	text-align:left;
	font-style:normal;
	font-weight:700;
	line-height:84px;
	font-size:72px;
	width:1000px;

}
.linespacingsample2{
	font-family: halyard-display, sans-serif;
	font-style:normal;
	font-weight:10;
	font-size:36px;
	margin-top:30px;
	width:1000px;
	line-height:44px;
}


.linespacingsample3{
	font-family: halyard-display, sans-serif;
	text-align:left;
	font-style:normal;
	font-weight:400;
	margin-top:50px;
	margin-bottom:50px;
	font-size:18px;
	line-height:22px;
	width:1000px;
	
}

