  header{
        font-family: Helvetica;
        font-size:90px;
        color:#010000;
        font-weight:bold;
     }
     h1{
        font-family:helvetica;
        font-size:40px;
        color: #A9A9A9;
     }

     h2{
        font-family:Helvetica;
        font-size:30px;
        color:#978282;

     }
     h3{
        font-family:Helvetica;
        font-size:20px;
        color:#C1B6B6;