body{
  text-align:center;
  background:#dfdfdf;
}
h1{
  text-transform:uppercase;
  font-size:72px;
  font-family:'Knewave';
  padding:30px;
  letter-spacing:20px;
}

#link{
	text-transform:uppercase;
  font-size:20px;
  font-family:'Knewave';
  padding:30px;
}
}