#typedtext{
font-family: 'Knewave', cursive;
font-size:100px;
padding:auto;
text-align:center;
margin-top:300px;

}

#next{
  font-family: 'Knewave', cursive;
font-size:50px;
padding:auto;
text-align:center;
}
