
#box1{
width:20px;
height:200px;
background-color:blue;
margin-top:20px;
margin-left:50px;
float:right;

}
#box2{
width:20px;
height:200px;
background-color:blue;
position:absolute;
transform:translate(10px 10px);
transform:translate(100px);
}
#box3{
width:20px;
height:200px;
background-color:blue;
position:relative;
transform:translate(40px,50px);

}
#box4{
width:20px;
height:200px;
background-color:blue;
position:absolute;
transform:translate(65px,-135px);

}
#box5{
width:20px;
height:200px;
background-color:blue;
position:absolute;
transform:translate(10px,-120px);

}
#box6{
width:20px;
height:200px;
background-color:blue;
position:absolute;
transform:translate(130px,-150px);

}
#box7{
width:20px;
height:200px;
background-color:blue;
position:relative;
transform:translate(160px,-170px);

}
#box8{
width:20px;
height:200px;
background-color:blue;
position:relative;
transform:translate(190px,-350px);

}
#box9{
width:20px;
height:200px;
background-color:blue;
position:absolute;
transform:translate(220px,-490px);
}
}

#box10{
width:20px;
height:200px;
background-color:blue;
transform:translate(250px,-520px);

}
#box11{
width:20px;
height:200px;
background-color:blue;
transform:translate(300px,-600px);

}
#box12{
width:20px;
height:200px;
background-color:blue;
transform:translate(350px,-630px);

}
#box13{
width:20px;
height:200px;
background-color:blue;
transform:translate(400px,-700px);

}
#box14{
width:20px;
height:200px;
background-color:blue;
transform:translate(450px,-730px);

}
#box15{
width:20px;
height:200px;
background-color:blue;
transform:translate(500px,-5060px);

}
#box16{
width:20px;
height:200px;
background-color:blue;
transform:translate(600px,-5300px);

}
#box17{
width:20px;
height:200px;
background-color:blue;
transform:translate();

}
#box18{
width:20px;
height:200px;
background-color:blue;
transform:translate();

}
#box19{
width:20px;
height:200px;
background-color:blue;
transform:translate();

}
#box20{
	width:20px;
height:200px;
background-color:blue;
transform:translate();

}



