h1{
		font-family:Impact, Charcoal, sans-serif;
		letter-spacing:6px;
		color:#4d0000;
		}
		h2{
			font-family:Impact,Charcoal, sans-serif;
			font-size:28px;
			letter-spacing:5px;
			color:#990000;
		}
		h3{
			font-family:Impact,Charcoal, sans-serif;
			font-size:20px;
			letter-spacing:4px;
			color:#ff0000;
		}
		h4{
			font-family:Impact,Charcoal, sans-serif;
			font-size:15px;
			letter-spacing:3px;
			color: #ff6666;
		}
		h5{
			font-family:Impact,Charcoal, sans-serif;
			font-size:10px;
			letter-spacing: 2px;
			color:#ffb3b3;
		}
		h6{
			font-family:Impact,Charcoal, sans-serif;
			font-size:7px;
			letter-spacing:1px;
			color:#ffe6e6;
		}