body{
  background-color: orange;
}
.shoppinglist{
	
	font-family: balloon-urw, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size:50px;
	font-color:black;
	width:420px;
	height:720px;
	background-color:rgb(250, 242, 209);
	border-radius:10px;
  position:absolute;
  margin-top:40px;
  margin-bottom:50px;
  margin-left:30px;

}

p{
	font-family:balloon-urw, sans-serif;
	font-weight: 300;
	font-size:100px;
	margin-top:320px;
  margin-left:700px;
  position:fixed;
  float:right;
}


.almondbutter{
  font-family: balloon-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-left:10px;
}
.almondbutter+ div {
  display: none;
}
.almondbutter:hover + div {
  display: inline;
}
.image {
   position:relative;
   display:inline-block;

}

.almondbutter:hover div  {
   width:100%;
   height:100%;
   position:absolute;
   top:0;
   left:0;
   display:inline-block;
    -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;}

.rusticobread{
  font-family: balloon-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
   margin-left:10px;
}

.rusticobread+ div {
  display: none;
}
.rusticobread:hover + div {
  display: block;
}
.image1 {
   position:relative;
   display:inline-block;
}
.overlay {
   display:none;
}
.image1:hover .overlay {
   width:100%;
   height:100%;
   position:absolute;
   top:0;
   left:0;
   display:inline-block;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;}

.strawberry{
  font-family: balloon-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
   margin-left:10px;
}

.strawberry+ div {
  display: none;
}
.strawberry:hover +div {
  display: block;
}
.image2 {
   position:relative;
   display:inline-block;
}
.overlay {
   display:none;
}
.image2:hover .overlay {
   width:100%;
   height:100%;
   position:absolute;
   top:0;
   left:0;
   display:inline-block;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;}

.almondmilk{
  font-family: balloon-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
   margin-left:10px;
}

.almondmilk+ div {
  display: none;
}
.almondmilk:hover +div {
  display: block;
}
.image3 {
   position:relative;
   display:inline-block;
}
.overlay {
   display:none;
}
.image3:hover .overlay {
   width:100%;
   height:100%;
   position:absolute;
   top:0;
   left:0;
   display:inline-block;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;}

.chickenbreast{
  font-family: balloon-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
   margin-left:10px;
}

.chickenbreast+ div {
  display: none;
}
.chickenbreast:hover +div {
  display: block;
}
.image4 {
   position:relative;
   display:inline-block;
}
#image4{
  margin-left:50px;
}
.overlay {
   display:none;
}
.image4:hover .overlay {
   width:100%;
   height:100%;
   position:absolute;
   top:0;
   left:0;
   display:inline-block;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;}

.spinach{
  font-family: balloon-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
   margin-left:10px;
}
.spinach+ div {
  display: none;
}
.spinach:hover +div {
  display: block;
}
.image5 {
   position:relative;
   display:inline-block;
}
.overlay {
   display:none;
}
.image5:hover .overlay {
   width:100%;
   height:100%;
   position:absolute;
   top:0;
   left:0;
   display:inline-block;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;}

.fujiapples{
  font-family: balloon-urw, sans-serif;
  font-weight: 300;
  font-style: normal;
   margin-left:10px;
}
.fujiapples+ div {
  display: none;
}
.fujiapples:hover +div {
  display: block;
}
.image6 {
   position:relative;
   display:inline-block;
}

.image6:hover .overlay {
   width:100%;
   height:100%;
   position:absolute;
   top:0;
   left:0;
   display:inline-block;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
   box-sizing:border-box;}

