body{
	background-image:"https://wifflegif.com/tags/276908-gif-cocaine-gifs ("disney.276908-gif-cocaine-gifs"alt="disney

}
h1{
	letter-spacing:3px;
}
h2{
letter-spacing:6px;	
}
h3 {
	letter-spacing:10px;
}
h4 {
	letter-spacing:14px;
}
h5 {
	letter-spacing: 18px;
}
h6 {
	letter-spacing:23px;
}
